# Preprocess data

In [1]:
import pandas as pd

In [8]:
data = pd.read_csv("exoplanets_features.csv")

In [9]:
df = pd.DataFrame(data)

In [10]:
df.shape

(5759, 168)

In [11]:
columns_to_keep = ['rowid', 'pl_name', 'hostname', 'pl_letter', 'sy_snum', 'sy_pnum', 'discoverymethod', 'disc_year', 'disc_locale', 'disc_facility', 'disc_telescope', 'disc_instrument', 'ra', 'dec', 'glat', 'glon', 'elat', 'elon', 'pl_orbper', 'pl_rade', 'pl_radj', 'pl_bmasse', 'pl_bmassj', 'pl_bmassprov', 'pl_dens', 'st_spectype', 'st_teff', 'st_rad', 'st_mass', 'st_lum', 'st_age', 'st_logg', 'st_dens', 'st_rotp', 'st_vsin', 'sy_dist']
df_cleaned = df[columns_to_keep]
df_cleaned.shape

(5759, 36)

In [2]:
data = pd.read_csv("cleaned_5250_types.csv")

In [3]:
df = pd.DataFrame(data)

In [4]:
df.columns.unique()

Index(['name', 'distance', 'stellar_magnitude', 'planet_type',
       'discovery_year', 'mass_multiplier', 'mass_wrt', 'radius_multiplier',
       'radius_wrt', 'orbital_radius', 'orbital_period', 'eccentricity',
       'detection_method'],
      dtype='object')

In [5]:
df.columns

Index(['name', 'distance', 'stellar_magnitude', 'planet_type',
       'discovery_year', 'mass_multiplier', 'mass_wrt', 'radius_multiplier',
       'radius_wrt', 'orbital_radius', 'orbital_period', 'eccentricity',
       'detection_method'],
      dtype='object')

In [6]:
unique_planet_types = df['planet_type'].unique()
print(unique_planet_types)

['Gas Giant' 'Super Earth' 'Neptune-like' 'Terrestrial' 'Unknown']

In [7]:
data2 = pd.read_csv("cleaned_exoplanets_features.csv")

In [8]:
df2 = pd.DataFrame(data2)

In [9]:
df2.columns

Index(['rowid', 'pl_name', 'hostname', 'pl_letter', 'sy_snum', 'sy_pnum',
       'discoverymethod', 'disc_year', 'disc_locale', 'disc_facility',
       'disc_telescope', 'disc_instrument', 'ra', 'dec', 'glat', 'glon',
       'elat', 'elon', 'pl_orbper', 'pl_rade', 'pl_radj', 'pl_bmasse',
       'pl_bmassj', 'pl_bmassprov', 'pl_dens', 'st_spectype', 'st_teff',
       'st_rad', 'st_mass', 'st_lum', 'st_age', 'st_logg', 'st_dens',
       'st_rotp', 'st_vsin', 'sy_dist'],
      dtype='object')

In [10]:
# Select only the 'pl_name' and 'planet_type' columns from file1
file1_filtered = data[['name', 'planet_type']]

# Perform the merge using the filtered file1 and file2
merged_df = pd.merge(data2, file1_filtered, left_on='pl_name', right_on='name', how='left')  # You can change 'how' if needed

# Drop the 'name' column
merged_df.drop(columns=['name'], inplace=True)
merged_df.rename(columns={'planet_type': 'pl_type'}, inplace=True)

# Save the merged dataframe to a new CSV file
merged_df.to_csv('merged_file.csv', index=False)

In [12]:
merged_df = pd.read_csv('merged_file.csv')
merged_df['disc_telescope'].unique()

array(['2.16 m Telescope', '2.0 m Alfred Jensch Telescope',
       '1.88 m Telescope', '10 m Keck I Telescope', 'Multiple Telescopes',
       'Coude Auxiliary Telescope', '8.19 m Gemini North Telescope',
       '3.0 m C. Donald Shane Telescope', '8.2 m Subaru Telescope',
       '8.2 m ESO VLT UT4 Yepun Telescope', '10 m Keck II Telescope',
       '1.5 m CTIO Telescope',
       '3.58 m Canada-France-Hawaii Telescope (CFHT)',
       '1.45 m x 0.5 m Telescope', '2.4 m Hubble Space Telescope',
       '0.95 m Kepler Telescope', '8.19 m Gemini South Telescope',
       '1.93 m Telescope', '9.2 m Hobby-Eberly Telescope',
       '3.9 m Anglo-Australian Telescope', '1.8 m Telescope',
       '0.6 m Coude Auxiliary Telescope',
       '8.2 m ESO VLT UT3 Melipal Telescope', '0.1 m TESS Telescope',
       '3.58 m Telescopio Nazionale Galileo', '0.4 m Telescope',
       '3.6 m ESO Telescope', '1.2 m Leonhard Euler Telescope',
       '3.5 m telescope', '3.2 m telescope', '0.27 m CoRoT Telescope',
       '8.2 m ESO VLT UT1 Antu Telescope',
       '2.4 m Lijiang Station Telescope',
       '0.85 m Spitzer Space Telescope', 'MEarth-South telescope array',
       '0.4 m MEarth Telescope', 'Very Large Telescope (Antu)',
       '2.4 m Automated Planet Finder Telescope',
       '279mm RASA-11 wide-field telescope', '5.1 m Hale Telescope',
       'Canon 200mm f/1.8L', '0.18 m Takahashi Epsilon Astrograph',
       '0.9 m KPNO Coude Feed Telescope',
       '6.5 m Magellan II Clay Telescope',
       '0.3 m Ritchey-Chretien Telescope', '2.2 m MPG/ESO Telescope',
       '2.7 m Harlan J. Smith Telescope',
       '1.5 m Tillinghast Reflector Telescope', '1.52 m ESO Telescope',
       '2.5m Sloan Digital Sky Survey (SDSS) Telescope',
       'Atacama Large Millimeter Array (ALMA)', '1.5 m SMARTS telescope',
       '1.4 m CAT Telescope', 'Mamiya 645 80mm f/1.9',
       '1.6 m wide-field telescope',
       'Rowe-Ackermann Schmidt Astrograph telescope',
       'Large Binocular Telescope', 'MeerKAT Telescope',
       '1.8 m MOA Telescope', '20 cm NGTS telescope', '0.51 m Telescope',
       '1.3 m Warsaw University Telescope',
       '305 m Arecibo Radio Telescope', '64 m Parkes Radio Telescope',
       'Canon 400mm f/2.8L', '2.15 m Jorge Sahade Telescope',
       '6.5 m Magellan I Baade Telescope', '1.4 m IRSF Telescope',
       'Automated Planet Finder Telescope',
       '0.60 m Transiting Planets and Planetesimals Small Telescope',
       '0.10 m Schmidt Telescope',
       '3.8m United Kingdom Infrared Telescope (UKIRT)',
       '4.20 m William Herschel Telescope', '4 m ESO Vista Telescope',
       '6.5 m James Webb Space Telescope',
       '3.8 m United Kingdom Infrared Telescope',
       '1.8-m Ritchey-Chretien Telescope', 'Perkins 1.8 m Telescope',
       '1.0 m McLellan telescope', '2.7m Harlan J. Smith Telescope',
       '4.3 m Lowell Discovery Telescope'], dtype=object)

In [11]:
top_telescopes = merged_df['disc_telescope'].value_counts().head(10)
print(top_telescopes)

disc_telescope
0.95 m Kepler Telescope                3321
0.1 m TESS Telescope                    557
Multiple Telescopes                     355
Canon 200mm f/1.8L                      222
3.6 m ESO Telescope                     222
10 m Keck I Telescope                   181
1.3 m Warsaw University Telescope       104
1.6 m wide-field telescope               94
0.18 m Takahashi Epsilon Astrograph      70
1.93 m Telescope                         65
Name: count, dtype: int64

In [4]:
merged_df.shape

(5759, 37)

In [15]:
import os
# # Drop the 'rowid' column
# merged_df.drop(columns=['rowid'], inplace=True)

# Group the dataframe by 'pl_type', 'discoverymethod', and 'telescope'
grouped = merged_df.groupby(['pl_type', 'discoverymethod'])

# Save each group to a separate CSV file in the 'Game' folder

# Create the 'Game' folder if it doesn't exist
os.makedirs('Game', exist_ok=True)

for (pl_type, discoverymethod), group in grouped:
    filename = f'Game/planets_{pl_type}_{discoverymethod}.csv'.replace(' ', '_').replace('/', '_')
    group.to_csv(filename, index=False)